@charset "utf-8";

:root {
  --main-color: #e22a00;
  --base-color: #fff7f7;
  --accent-color: #ffe100;
  --text-color: #131a12;

  --open-duration: 300ms;

  interpolate-size: allow-keywords;
}

body,
html {
  scroll-behavior: smooth;
  scroll-padding-top: 2rem;
}
body {
  color: var(--text-color);
  font-size: 0.9rem;
  background-color: var(--base-color);
}
img {
  max-width: 100%;
  vertical-align: bottom;
}

header {
  padding-block: 33px;
}

.wrapper {
  width: min(92%, 960px);
  margin-inline: auto;
}

ul,
ol {
  list-style-type: none;
}

section {
  padding-block: 3rem;
}
h1 {
  text-align: center;
}
h1 + * {
  margin-block-start: 2.2rem;
}
h2 + * {
  margin-block-start: 1.8rem;
}

main {
  margin-block-start: 4rem;
}

.tab-button-wrapper {
  display: flex;
}

.tab-button-wrapper > * {
  flex: 1;
}

.tab-button {
  color: color-mix(in srgb, var(--text-color), transparent 70%);
  border-bottom: 2px solid currentColor;
  padding: 13px;
}
.tab-button.active {
  color: color-mix(in srgb, var(--text-color), transparent 10%);
  border-bottom: 2px solid currentColor;
}

.card {
  background-color: #ffffff;
  border-radius: 13px;
  display: flex;
  gap: 13px;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  height: 380px;
}
.card-wrapper {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  /* grid-template-rows: 300px 300px; */
  gap: 33px;
  margin-block: 54px;
}

.card-inner {
  padding-inline: 0.3rem;
}

.card-panel-wrapper {
  flex: 1;
}
.card-panel {
  height: 100%;
}

.card-panel[id^='access'] {
  display: flex;
  flex-direction: column;
}
.card-panel[id^='access'] .spot-map {
  flex-grow: 1;
}
.card-panel[hidden] {
  display: none;
}
.spot-name {
  font-size: 1.2rem;
  font-weight: bold;
}
.spot-img {
  object-fit: cover;
  aspect-ratio: 3 / 2;
  width: 100%;
  height: 100%;
}
.spot-img,
.spot-map iframe {
  border-bottom-right-radius: 13px;
  border-bottom-left-radius: 13px;
}

.spot-map {
  /* aspect-ratio: 1 / 1; */
}
.spot-map iframe {
  width: 100%;
  height: 100%;
}
.spot-name,
.spot-desc,
.spot-access {
  padding-inline: 13px;
}

.spot-desc,
.spot-access {
  padding-block-end: 13px;
}
.spot-desc {
  line-height: 1.7;
}
.spot-access {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

footer {
  padding-block: 13px;
  text-align: center;
}
